DATABASE_URL=postgresql://app_user:app_password@db:5432/my_app_db?schema=public

# SMTP configuration gmail
EMAIL_USER=
EMAIL_PASS=

# ADMIN CREDENTIALS
ADMIN_EMAIL=
ADMIN_PASSWORD=

# BREVO API KEY
BREVO_API_KEY=
BREVO_SENDER_EMAIL=

EMAIL_SECRET =secret
FRONTEND_URL=http://localhost:5173
PORT=4000
MAX_LOGIN_ATTEMPTS=3
LOGIN_BLOCK_TIME=15
MAX_SESSIONS_PER_USER=2

#NODE_ENV=development

# REDIS CONFIGURATION
REDIS_ENABLED=true
REDIS_URL=redis://redis:6379
REGENERATE_SESSION_TOKEN=true

# CLOUDFLARE R2 CONFIGURATION alamcenamiento de archivos
R2_ENDPOINT=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=
R2_PUBLIC_URL=

PUBLIC_RECEIPT_VERIFY_URL=https://midominio.com/verify-receipt