DATABASE_URL=postgresql://user:password@localhost:5432/dbname
EMAIL_USER=tu_correo@gmail.com
EMAIL_PASS=tu_password_de_app
FRONTEND_URL=http://localhost:3000
PORT=4000
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin1234!
MAX_LOGIN_ATTEMPTS=5
LOGIN_BLOCK_TIME=15
ADMIN_EMAIL=admin@tudominio.com