DATABASE_URL=postgresql://postgres:jonico22@localhost:5432/POSTGRES_DB
EMAIL_USER=jyana22@gmail.com
EMAIL_PASS=rcbs ysyn rzyb cdeh
FRONTEND_URL=http://localhost:3000
PORT=4000
ADMIN_EMAIL=admin@tudominio.com
ADMIN_PASSWORD=123456789
MAX_LOGIN_ATTEMPTS=3
LOGIN_BLOCK_TIME=15
MAX_SESSIONS_PER_USER=2

NODE_ENV=development
EMAIL_SECRET =secret
REDIS_ENABLED=true
REDIS_URL=redis://localhost:6379